.menu-text() {
  font-family: 'Source Sans Pro', sans-serif;
}

.title-text() {
  font-family: 'Crimson Text', serif;
  font-style: italic;
}

.button() {
  .menu-text();
  text-decoration: none;
  padding: .25rem 1rem .25rem 1rem;
  border: 1px solid #888;
  border-radius: 4px;
  color: #333;
  text-transform: uppercase;

  &:hover {
    color: white;
    background-color: #333;

    transition: color 0.5s, background-color 0.5s
  }
}
