.button() {
  .typ-menu();
  text-decoration: none;
  padding: .25rem 1rem .25rem 1rem;
  border: 1px solid #888;
  border-radius: 4px;
  color: #333;
  text-transform: uppercase;

  &:hover {
    color: white;
    background-color: #333;

    transition: color 0.5s, background-color 0.5s
  }
}

.no-selection(){
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ellipsis(){
  display:block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-wrap:break;
}
