.manuscript{
  background-color: white;
  width:15rem;
  display:inline-block;
  border:1px solid #EAEAEA;
  margin:1.0rem;
  padding:1.0rem;
  cursor: pointer;
  border-radius: 3px;
  &:hover{
    border-color:#ACE;
  }
  .man-title{
    display:block;
    font-weight: bold;
    height:2.0rem;
  }
  .man-text{
    color:#888;
    font-size:0.8rem;
    height:4.0rem;
    overflow: hidden;
  }
}
