.hed {
  height: 3rem;
  background-color: #333;

  .hed-logo {
    margin-left: 1rem;
    margin-top: .45rem;
    display: inline-block;

    .menu-text();
    font-weight: bold;
    font-size: 150%;
    text-transform: uppercase;
    color: white;
  }
}
