.hed {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;

  height: 2rem;
  background-color: #333;

  .hed-logo {
    margin-left: 1rem;
    margin-top: .45rem;
    display: inline-block;

    font-weight: bold;
    text-transform: uppercase;
    color: white;
  }
}
