*,
*:before,
*:after{
  box-sizing:border-box;
}

body {
  font-family: @font;
  color: @text-color;
  width:100%;
  overflow: hidden;
}
.app{
  .abs-pos-fill();
  overflow: hidden;
}
button{
  appearance:none;
  background-image:none;
}
