.manuscript-editor{
  max-width:40rem;
  margin:0 auto;

  input{
    width:100%;
    border:1px solid #CCC;
    display: block;
    padding:1.0rem;
    outline:none;
    text-align: center;
  }

  textarea{
    width:100%;
    display: block;
    min-height: 25rem;
    outline:none;
    border:1px solid #CCC;
    padding:1.0rem;

  }
}
