.menu {
  .close-anywhere-mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .menu-items {
    position: relative;
    background-color: red;
  }
}

.menu-layer {
  &.is-showing-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .menu-container {
    position: fixed;
    background-color: white;
    padding: 0.5rem;
    border: 1px solid #333;
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.2rem #333;
  }
}
