.login {
  text-align: center;
  margin-top: 6rem;

  h1 {
    color: @editor-text-color;
    .formatting {
      color: @editor-formatting-color;
    }
  }
}

.login-form {
  width: 22rem;
  margin: auto;
  margin-top: 4rem;

  i {
    font-size: 5rem;
    width: 4rem;
  }

  button {
    font-family: @font;
    font-size: 2rem;
    background-color: @control-bg-color;
    cursor: pointer;
    border-radius: 0.3rem;
    border: none;
    color: @text-color;
    padding: 0.3rem 1rem;
    float: right;
    margin-top: 1rem;
  }
}
