.list-toolbar {
  height: 5rem;

  box-shadow: 0 0.25rem 0.25rem 0 #ccc;

  .list-toolbar-title {
    .title-text();
    font-size: 225%;
    display: inline-block;
    margin-left: 1rem;
    margin-top: 1rem;
  }

  .list-toolbar-new-manuscript {
    .button();
    margin-left: 3rem;
  }
}
