.dev-panel-section() {
  .title {
    font-size: 1.2rem;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid @dark-gray;
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
    line-height: 0.8rem;
  }

  &:first-child {
    .title {
      margin-top: 0;
    }
  }

  .action-name, .action-arguments, .property-name, .property-value {
    font-family: @mono-font;
  }
}

.breathing-room() {
  margin: 0 0.5rem;
}

.dev-panel {
  .action-list {
    .dev-panel-section();

    .action-name {
      .breathing-room();
    }
  }

  .action-history {
    .dev-panel-section();

    .action-arguments-prompt {
      .breathing-room();
    }
  }

  .stores {
    .dev-panel-section();

    .property {
      display: block;
      margin-left: 1rem;
    }

    .property-name {
      .breathing-room();
    }

    .property-value {
      white-space: pre;
    }
  }
}

