.manuscript-editor{
  .CodeMirror {

    height: auto;
    font-size:1.0rem;
    line-height: 2.0;
    font-family: 'Source Sans Pro';

  }
  .CodeMirror-scroll {
    overflow-y: hidden;
    overflow-x: auto;
  }
}
