
.home-page .manuscripts-column{
  @toolbar-height: 2.5rem;

  .toolbar{
    .abs-pos-fill();
    bottom:auto;
    height:@toolbar-height;
    padding:0.2rem;
    border-bottom:1px solid #BBB;
    background-color: #DDD;
    text-align: right;
  }
  .manuscripts{
    .abs-pos-fill();
    top:@toolbar-height;
    overflow-y: auto;

  }
}
