


.toolbar-button(){
  position:relative;
  min-width: 3.0rem;
  cursor: pointer;
  padding:1.0rem 0.25rem;
  background-color:transparent;
  font-size:1.0rem;
  margin:0;
  line-height:1.0;
  border:none;
  outline:none;
  color:#888;
  transition:background-color 0.2s, color 0.2s;
  vertical-align:top;
  text-align:center;
  &:hover{
    background-color: rgba(0,0,0,0.05);
  }
  &:active{
    top:1px;
  }
}




.home-page{
  .manuscripts-column{
    @toolbar-height: 3.0rem;

    .toolbar{
      .editorialish-toolbar();
      .abs-pos-fill();
      bottom:auto;
      height:@toolbar-height;
      border-bottom:1px solid #CCC;
      background-color: #EEE;
    }

    .manuscripts{
      .abs-pos-fill();
      top:@toolbar-height;
      .scrollable();
    }
  }
}
