
.home-page .nav-column{
  @toolbar-height:3.0rem;
  @bottom-toolbar-height:3.0rem;

  background-color: white;
  .toolbar{
    .abs-pos-fill();
    bottom:auto;
    height:@toolbar-height;
    color:white;
    background-color: @black;
    padding-top:0.5rem;
    font-size:1.5rem;
    font-weight: bold;
    text-align: center;
  }
  .nav-contents{
    .abs-pos-fill();
    top:@toolbar-height;
    bottom:@bottom-toolbar-height;
  }
  .bottom-toolbar{
    .editorialish-toolbar();
    .abs-pos-fill();
    top:auto;
    border-top:1px solid #CCC;
    button{
      .toolbar-button();

    }
  }
}
