
.home-page .nav-column{
  @toolbar-height:3.0rem;
  @bottom-toolbar-height:3.0rem;

  background-color: white;
  .nav-title-bar{
    .abs-pos-fill();
    bottom:auto;
    left:0.5rem;
    top:0.5rem;
    right:0.5rem;
    height:@toolbar-height;
    color:white;
    padding-top:0.5rem;
    font-size:1.5rem;
    font-weight: bold;
    padding-left:0.75rem;
    background-color: #444;
    border:1px solid #222;
    border-right:none;
    border-radius: 0.25rem;
    letter-spacing: 2px;
  }
  .nav-contents{
    .abs-pos-fill();
    top:@toolbar-height;
    bottom:@bottom-toolbar-height;
  }
  .bottom-toolbar{
    .editorialish-toolbar();
    .abs-pos-fill();
    top:auto;
    border-top:1px solid #CCC;
    button{
      .toolbar-button();

    }
  }
  .ed-icon{
    position: relative;
    float:right;
    margin:0rem 0.5rem;
    width:2.0rem;
    height:2.0rem;
    background-color: white;
    border-radius:3px;
    overflow:hidden;
    background-color:mix(orange,white,75%);
    &:after{
      content: " ";
      position:absolute;
      top:3px;
      left:3px;
      right:3px;
      bottom:3px;
      background: url('images/pen-icon.svg') no-repeat top left;
      background-size: contain;
    }
  }

}
